.piechart__container {
    height: 320px;
    display: flex;
    justify-content: center;
}

.piechart__container > div:first-child {
    width: 480px !important;
}

.legend__box {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    margin-right: 8px;
}

@media screen and (max-width: 900px) {
    .piechart__container {
        flex-direction: column;
    }
}

.legend__grid {
    display: grid;
    gap: 0 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    grid-template-columns: repeat(2, 1fr);
}
