* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --background-color: #daf5f0;
    --background-color-2: #fcdfff;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection {
    background-color: #9723c9;
    color: white;
}
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection,
p::-moz-selection {
    background-color: #9723c9;
    color: white;
}

.ant-card {
    box-shadow: 2px 2px 4px black;
}

.custom-chart-toolip {
    padding: 8px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 2px black;
}

.analytics-card {
    box-shadow: 1px 1px 2px grey;
}

p {
    font-size: small;
    font-weight: 400;
}
